<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <!--日志根目录-->
    <property name="log.path" value="./logs/@artifactId@"/>
    <include optional="true" resource="ticho-logback-common.xml"/>

    <springProfile name="local,dev,test,st">
        <logger name="com.alibaba.nacos.client" level="ERROR"/>
        <logger name="com.alibaba.cloud.nacos" level="INFO"/>
        <logger name="io.undertow" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="springfox.documentation" level="ERROR"/>
        <logger name="com.baomidou.mybatisplus" level="ERROR"/>
        <logger name="com.ulisesbocchio" level="ERROR"/>
        <logger name="com.ticho" level="DEBUG"/>
    </springProfile>

    <springProfile name="uat,prod">
        <logger name="com.alibaba.nacos.client" level="ERROR"/>
        <logger name="com.alibaba.cloud.nacos" level="ERROR"/>
        <logger name="io.undertow" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="springfox.documentation" level="ERROR"/>
        <logger name="com.baomidou.mybatisplus" level="ERROR"/>
        <logger name="com.ulisesbocchio" level="ERROR"/>
        <logger name="com.ticho" level="INFO"/>
    </springProfile>

</configuration>